.github__wrapper {
    padding: rem-calc(196 0 160);
    background-color: $color-4;
    color: $color-2;
    @media (max-width: $md) {
        padding: 120px 0;
    }
}

.github__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $lg) {
        padding-left: percentage(1/12);
    }
    @media (max-width: $md) {
        flex-direction: column;
        align-items: stretch;
    }
}

.github__info {
    width: percentage(5/12);
    @media (max-width: $md) {
        width: 100%;
    }
}

.github__title {
    margin-bottom: rem-calc(56);
    font-family: $font-1;
    font-size: rem-calc(24);
    line-height: (34/24);
    letter-spacing: .01em;
}

.github__links {
    li {
        &:not(:last-child) {
            margin-bottom: rem-calc(24);
        }

        .link {
            display: flex;
            align-items: center;

            img {
                margin-right: rem-calc(20);
            }
        }
    }
}

.github__img {
    margin-right: percentage(30/1072);
    width: percentage(506/1072);
    opacity: 0;
    transform: translateY(50px);
    transition: .5s ease-in-out;
    transition-property: opacity, transform;
    @include target-ie11 {
      opacity: 1;
      transform: none;
    }
    @media (max-width: $lg) {
        margin-right: 0;
        width: percentage(6/12);
    }
    @media (max-width: $md) {
        margin-top: 84px;
        width: 100%;
    }

    &.is-visible {
      opacity: 1;
      transform: translateY(0);
    }
}

.github__placeholder {
  @extend .one-pager__placeholder;
  color: rgba($color-2, .3);
}
