<div class="modal__wrapper is-hidden">
    <button class="modal__close"><img src="img/cross.svg" alt=""></button>
    <div class="modal__container container container--type-1">
        <iframe class="modal__video" src="https://www.youtube.com/embed/lDMrWJjvvrk?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
