<div class="video__wrapper video__wrapper--top video__wrapper--second">
    <div class="video__container container container--type-2">
        <div class="video__cover">
            <img class="video__cover-img" src="img/AI-unlocks-much-anticipated-possibilities-for-both-the-guests-and-the-hotel.png" alt="">
            <span class="video__cover-title">Unlock new possibilities<br>with the power of AI</span>
            <img class="video__play-btn" src="img/video-play-btn.png" alt="">
        </div>
        <iframe class="video__player" width="876" height="493" src="https://www.youtube.com/embed/on9_nzLDXTA?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {# <div class="video-bg__wrapper">
        <div class="video-bg__figure-1">
            <img class="video__parallax" data-depth="0.1" src="img/bg-figure-23.svg" alt="">
        </div>
        <div class="video-bg__figure-2">
            <img class="video__parallax" data-depth="0.1" src="img/bg-figure-24.svg" alt="">
        </div>
        <div class="video-bg__figure-3">
            <img class="video__parallax" data-depth="0.1" src="img/bg-figure-25.svg" alt="">
        </div>
        <div class="video-bg__figure-4">
            <img class="video__parallax" data-depth="0.1" src="img/bg-figure-26.svg" alt="">
        </div>
    </div> #}
</div>
