<div class="intro__wrap">
    <div class="intro-bg__wrapper">
        {# <img class="intro__bg intro__bg--large" src="img/intro-bg.jpg" alt=""> #}
        <video class="intro__bg intro__bg--large" autoplay muted playsinline loop>
            <source src="media/Comp 1_2.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        </video>
        <img class="intro__bg intro__bg--small" src="img/intro-bg-sm.jpg" alt="">
    </div>
    <div class="intro__container container container--default">
        <div class="intro__title">
            <h1><b>The Next Step in Evolution</b> of the Hospitality Industry</h1>
            <ul>
                {# <li class="intro__timer intro__timer--mobile">
                    <a href="#">Invest Now <img src="img/intro-more-angle.svg"></a>
                    <p class="intro-timer__wrapper"><span class="intro-timer__caption">token sale starts in</span><span class="intro-timer__tick"><span>0</span>:<span>0</span>:<span>0</span>:<span>0</span></p>
                </li> #}
                <li>AI powered SaaS Hotel Management Platform</li>
                <li>Unique Personalized Client Experience</li>
                <li>Boosting hotel’s upsales up to 25%</li>
            </ul>
            <div class="intro__title-button">
                <a href="https://t.me/ModiHost" class="button button--wide button--filled-purple" href="https://explorer.modihost.ai/pool/explore" target="_blank">REQUEST MORE INFORMATION</a>
            </div>
            <div class="intro__title__img-link">
                <a href="https://hitbtc.com/AIM-to-BTC" target="_blank"><img src="img/hitbtc_logo_white.png"></a>
                <a href="https://www.coingecko.com/en/coins/modihost" target="_blank"><img src="img/coinjecko.png"></a>
                <a href="https://coinmarketcap.com/currencies/modihost/" target="_blank"><img src="img/coinmarketcap_1.svg"></a>
            </div>
        </div>
        <div class="intro__extra">
            {# <div class="intro__timer intro__timer--desktop">
                <a href="#">Invest Now <img src="img/intro-more-angle.svg"></a>
                <p class="intro-timer__wrapper"><span class="intro-timer__caption">token sale starts in</span><span class="intro-timer__tick"><span>0</span>:<span>0</span>:<span>0</span>:<span>0</span></p>
            </div> #}
            <div class="upper-footer__social">
                <h3 class="footer-social__title">Follow Us</h3>
                <div class="footer-social__list">
                    <a href="https://t.me/ModiHost" target="_blank"><img src="img/telegram.svg" alt=""></a>
                    <a href="https://twitter.com/ModiHost" target="_blank"><img src="img/twitter.svg" alt=""></a>
                    <a href="https://www.linkedin.com/company/modihost/about/" target="_blank"><img src="img/linkedin.svg" alt=""></a>
                    <a href="https://www.facebook.com/ModiHost-110181610374825/" target="_blank"><img src="img/facebook.svg" alt=""></a>
                    <a href="https://www.reddit.com/user/ModiHost" target="_blank"><img src="img/reddit.svg" alt=""></a>
                    <a href="https://medium.com/@ModiHost" target="_blank"><img src="img/medium.svg" alt=""></a>
                    <a href="https://bitcointalk.org/index.php?topic=5191078" target="_blank"><img src="img/bitcoin-forum.svg" alt=""></a>
                </div>
            </div>
            <button class="intro__play-video">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 45.6 39.8" style="enable-background:new 0 0 45.6 39.8;" xml:space="preserve">
                    <path d="M33.7,1H11.9L1,19.9l10.9,18.9h21.8l10.9-18.9L33.7,1z M19.6,27l-0.2-0.4l0.2-14l10.6,7.2L19.6,27z"/>
                </svg>
                <span>Modihost<br>in 80 seconds</span>
            </button>
            {# <div class="intro__more">
                <h5>Essential role of token holders</h5>
                <a href="#">Learn More <img src="img/intro-more-angle.svg"></a>
            </div> #}
            {# <button class="intro__scroll" data-scroll-to=".numbers__wrapper"><img src="img/intro-next.png" alt=""></button>
            <button class="intro__link" data-scroll-to=".numbers__wrapper">learn more</button> #}
        </div>
    </div>
</div>
