<div class="numbers__wrapper" id="overview">
    <div class="numbers__container container container--type-1">
        <div class="numbers__title title-section title-section--center">
            <h3 class="title-section__uppertitle"><span>the market with enormous potential</span></h3>
            <h2 class="title-section__title title-section__title--smaller">Hospitality is One of the Strongest Industries</h2>
        </div>
        <ul class="numbers__list">
            <li>
                <h5 class="number__counter" data-number="1.6" data-decimal="1" data-suffix=" billion">1.6 billion</h5>
                <p>bookings in 2017</p>
            </li>
            <li>
                <h5 class="number__counter" data-number="10.2" data-decimal="1" data-suffix="%">10.2%</h5>
                <p>of Global GDP</p>
            </li>
            <li>
                <h5 class="number__counter" data-prefix="$" data-number="570" data-suffix=" billion">$570 billion</h5>
                <p>hotel industry market value</p>
            </li>
        </ul>
    </div>
    <div class="numbers-bg__wrapper">
        <div class="numbers-bg__figure-1">
            <img class="numbers__parallax" data-depth="0.1" src="img/bg-figure-12.svg" alt="">
        </div>
    </div>
</div>
