<div class="whitepaper__wrapper" id="whitepaper">
    <div class="whitepaper__outer-container container container--default">
        <div class="whitepaper__container">
            <div class="whitepaper__description">
                <h2 class="whitepaper__title title-section__title title-section__title--smaller">Whitepaper</h2>
                <p class="whitepaper__text">Download Whitepaper to learn how Modihost changes hospitality industry, guest’s experience, reduce staff load and increases upsales. Detailed information about utility token, platform structure is available in Whitepaper.</p>
                <a class="button button--white" href="/media/ModiHost_Whitepaper-v01.pdf" target="_blank">Download</a>
            </div>
            <div class="whitepaper__opportunity">
                <p>Subscribe to our newsletter to be the first to know about updates and announcements.</p>
                <a class="link" href="#" data-scroll-to=".subscribe__wrapper">subscribe</a>
            </div>
        </div>
        <div class="whitepaper-bg__wrapper">
            <div class="whitepaper-bg__figure-1">
                <img class="whitepaper__parallax" data-depth="0.1" src="img/bg-figure-16.svg" alt="">
            </div>
            <div class="whitepaper-bg__figure-2">
                <img class="whitepaper__parallax" data-depth="0.1" src="img/bg-figure-17.svg" alt="">
            </div>
        </div>
        <button class="whitepaper__scroll-btn" data-scroll-to=".opportunity__wrapper"><img src="img/whitepaper-down.svg"></button>
    </div>
</div>
