<div class="solutions__wrapper" id="solutions">
    <div class="solutions__container container container--default">
        <div class="solutions__title title-section title-section--center">
            <h3 class="title-section__uppertitle"><span>It's Time to Change the Situation</span></h3>
            <h2 class="title-section__title title-section__title--smaller">Modihost brings the power of AI to take the hospitality industry to the next stage in its evolution</h2>
        </div>
        <div class="solutions__item">
            <img class="solutions__img" src="img/solutions_pic1.svg" alt="">
            <div class="solutions__text">
                <div class="solutions__text-decoration">
                    <div class="solutions__bg-elem-1">
                        <img class="solutions__bg-elem-parallax" data-depth="0.5" src="img/bg-figure-35.svg" alt="">
                    </div>
                </div>
                <div class="solutions__text-content">
                    <h4>Artificial intelligence</h4>
                    <p>Hospitality industry generates enormous amount of unprocessed data, which can be used to personalize guests' experience, make a guest feel special by predicting his needs, eliminating outdated procedures, streamlining time consuming actions and making a guest connected to all hotel services in one touch.</p>
                </div>
            </div>
        </div>
        <div class="solutions__item">
            <div class="solutions__text">
                <div class="solutions__text-decoration">
                    <div class="solutions__bg-elem-2">
                        <img class="solutions__bg-elem-parallax" data-depth="0.5" src="img/bg-figure-36.svg" alt="">
                    </div>
                </div>
                <div class="solutions__text-content">
                    <h4>personalized approach</h4>
                    <p>Instead of old way upsale offers to every guest, AI could make a special offers to those, who spend much more during their stay.</p>
                    <p>AI predicts clients needs, engages client into conversation in a variety ways, which ultimately leads to upsales.</p>
                </div>
            </div>
            <img class="solutions__img" src="img/solutions_pic2.svg" alt="">
        </div>
        <div class="solutions__item">
            <div class="solutions__item-decoration">
                <div class="solutions__bg-elem-3">
                    <img class="solutions__bg-elem-parallax" data-depth="0.3" src="img/bg-figure-37.svg" alt="">
                </div>
            </div>
            <div class="solutions__item-content">
                <img class="solutions__img" src="img/solutions_pic3.svg" alt="">
                <div class="solutions__text">
                    <div class="solutions__text-decoration">
                        <div class="solutions__bg-elem-4">
                            <img class="solutions__bg-elem-parallax" data-depth="0.5" src="img/bg-figure-38.svg" alt="">
                        </div>
                    </div>
                    <div class="solutions__text-content">
                        <h4>Payment Model</h4>
                        <p>Easy, Transparent and Affordable payment model empowered by blockchain and smart contracts, which fits hospitality business of any scale and category.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="solutions__item">
            <div class="solutions__text">
                <div class="solutions__text-decoration">
                    <div class="solutions__bg-elem-5">
                        <img class="solutions__bg-elem-parallax" data-depth="0.5" src="img/bg-figure-39.svg" alt="">
                    </div>
                </div>
                <div class="solutions__text-content">
                    <h4>Top-notch User Experience</h4>
                    <p>Build from ground up with client's needs in mind.</p>
                    <p>Flexible, scalable, fast and intuitive, Modihost automates many repeating chores as well as takes care of client experience inside the hotel.</p>
                </div>
            </div>
            <img class="solutions__img" src="img/solutions_pic4.svg" alt="">
        </div>
    </div>
</div>
