<div class="team__wrapper team__wrapper--advisors" id="advisors">
    {# <img class="team__edge-top" src="img/team-edge-top.svg" alt=""> #}
    <div class="team-anim-bg__wrapper">
        <div class="team-anim-bg__fill team-anim-bg__fill--bottom"></div>
        <img class="team-anim-bg__edge-1" src="img/edge-figure-gray.svg" alt="">
        <img class="team-anim-bg__edge-2" src="img/edge-figure-white.svg" alt="">
        <img class="team-anim-bg__edge-3" src="img/edge-figure-gray.svg" alt="">
        <img class="team-anim-bg__edge-4" src="img/edge-figure-white.svg" alt="">
        <img class="team-anim-bg__edge-5" src="img/edge-figure-gray.svg" alt="">
    </div>
    <button class="team__scroll-btn" data-scroll-to=".team__wrapper--advisors"><img src="img/whitepaper-down.svg" alt=""></button>
    <div class="team__container container container--type-1">
        <div class="team__title title-section title-section--left">
            {# <h3 class="title-section__uppertitle">Lorem ipsum dolor sit</h3> #}
            <h2 class="title-section__title title-section__title--larger">Advisors</h2>
        </div>
        {# <div class="team__description">
            <h4>Advisors</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div> #}
        <div class="team__list">
          <div class="team__person">
              <div class="person-info__photo">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                      <defs>
                          <path id="Polygon" d="M0,71L41,0h82l41,71l-41,71H41L0,71z"/>
                      </defs>
                      <clipPath id="Polygon_1_">
                          <use xlink:href="#Polygon"  style="overflow:visible;"/>
                      </clipPath>
                      <g style="clip-path:url(#Polygon_1_);">
                        <image style="overflow:visible;" width="330" height="286" xlink:href="img/Prof-Hindriks.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                      </g>
                  </svg>
                  {# <a class="person-info__link" href="#" target="_blank">
                      <img class="person-info__link-bg" src="img/advisor-info-link-bg.svg" alt="">
                      <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                  </a> #}
              </div>
              <h4 class="person-info__name">Prof. Koen Hindriks</h4>
              <h5 class="person-info__position">Koen is a full professor Social Artificial Intelligence, at the Vrije Universiteit (VU) Amsterdam. Co-founder of Interactive Robotics.</h5>
              <button class="link link--purple" data-open-bio="hindriks">View Bio</button>
          </div>
          <div class="team__person">
              <div class="person-info__photo">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                      <clipPath id="Polygon_1_">
                          <use xlink:href="#Polygon"  style="overflow:visible;"/>
                      </clipPath>
                      <g style="clip-path:url(#Polygon_1_);">
                        <image style="overflow:visible;" width="330" height="286" xlink:href="img/Ali-Chaudhry.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                      </g>
                  </svg>
                  {# <a class="person-info__link" href="#" target="_blank">
                      <img class="person-info__link-bg" src="img/advisor-info-link-bg.svg" alt="">
                      <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                  </a> #}
              </div>
              <h4 class="person-info__name">Ali Chaudhry</h4>
              <h5 class="person-info__position">Ali Chaudhry is a postgraduate researcher in Artificial Intelligence at University College London. Fintech, edtech and agritech professional.</h5>
              <button class="link link--purple" data-open-bio="chaudhry">View Bio</button>
          </div>
          <div class="team__person">
              <div class="person-info__photo">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                      <clipPath id="Polygon_1_">
                          <use xlink:href="#Polygon"  style="overflow:visible;"/>
                      </clipPath>
                      <g style="clip-path:url(#Polygon_1_);">
                        <image style="overflow:visible;" width="330" height="286" xlink:href="img/aggarwal.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                      </g>
                  </svg>
                  {# <a class="person-info__link" href="#" target="_blank">
                      <img class="person-info__link-bg" src="img/advisor-info-link-bg.svg" alt="">
                      <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                  </a> #}
              </div>
              <h4 class="person-info__name">Abhinav Aggarwal</h4>
              <h5 class="person-info__position">A globally recognized thought leader in Cognitive, Cloud, Analytics, Mobile, Social, Security, Blockchain, eCommerce, and BPM.</h5>
              <button class="link link--purple" data-open-bio="aggarwal">View Bio</button>
          </div>
          <div class="team__person">
              <div class="person-info__photo">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                      <clipPath id="Polygon_1_">
                          <use xlink:href="#Polygon"  style="overflow:visible;"/>
                      </clipPath>
                      <g style="clip-path:url(#Polygon_1_);">
                        <image style="overflow:visible;" width="330" height="286" xlink:href="img/JeanMarc-Goossens.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                      </g>
                  </svg>
                  <a class="person-info__link" href="https://www.linkedin.com/in/jean-marc-goossens-873a9b14/" target="_blank">
                      <svg class="person-info__link-bg person-info__link-bg--purple" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                          <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                      </svg>
                      <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                  </a>
              </div>
              <h4 class="person-info__name">Jean-Marc Goossens</h4>
              <h5 class="person-info__position">Jean-Marc Goossens is a business attorney specializing for more than 25 years in international mediation and international investments.</h5>
              <button class="link link--purple" data-open-bio="goossens">View Bio</button>
          </div>
          {# <div class="team__person">
              <div class="person-info__photo">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                      <clipPath id="Polygon_1_">
                          <use xlink:href="#Polygon"  style="overflow:visible;"/>
                      </clipPath>
                      <g style="clip-path:url(#Polygon_1_);">
                        <image style="overflow:visible;" width="330" height="286" xlink:href="img/Abhishek-Modsingh.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                      </g>
                  </svg>
              </div>
              <h4 class="person-info__name">Abhishek Modsingh</h4>
              <h5 class="person-info__position">Abhishek comes with 7+ years of business development background and deep domain knowledge in Hospitality software’s.</h5>
              <button class="link link--purple" data-open-bio="modsingh">View Bio</button>
          </div> #}
        </div>
        <div class="advisor-info__wrapper is-hidden" data-bio-modal="hindriks">
            <div class="advisor-info__container">
                <button class="advisor-info__close" data-bio-close>
                    <img src="img/cross.svg" alt="">
                </button>
                <div class="advisor-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Prof-Hindriks.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                </div>
                <div class="advisor-info__text">
                    <h3>Prof. Koen Hindriks</h3>
                    <p>Koen is a full professor Social Artificial Intelligence, at the Vrije Universiteit (VU) Amsterdam.</p>
                    <p>He has also been a project manager at Accenture and is co-founder of Interactive Robotics. His research is aimed at making (ro)bots more social by using theories from psychology en by developing and applying cognitive agent technology. He has developed social robots for education, health care, and e.g. marketing research.</p>
                    {# <a class="advisor-info__link" href="#" target="_blank">
                        <img class="advisor-info__link-bg" src="img/advisor-info-link-bg.svg" alt="">
                        <img class="advisor-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a> #}
                </div>
            </div>
        </div>
        <div class="advisor-info__wrapper is-hidden" data-bio-modal="chaudhry">
            <div class="advisor-info__container">
                <button class="advisor-info__close" data-bio-close>
                    <img src="img/cross.svg" alt="">
                </button>
                <div class="advisor-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Ali-Chaudhry.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                </div>
                <div class="advisor-info__text">
                    <h3>Ali Chaudhry</h3>
                    <p>Ali Chaudhry is a postgraduate researcher in Artificial Intelligence at University College London.</p>
                    <p>For research, he is using Bayesian Inference to investigate the issues of transparency and fairness in various machine learning algorithms. He has also helped a number of companies in fintech, edtech and agritech in applying machine learning in real-time on their entire product lifecycle from relevant data collection to deploying production ready models and gradually improving their performance. In his spare time, he plays with meta reinforcement learning algorithms.</p>
                    {# <a class="advisor-info__link" href="#" target="_blank">
                        <img class="advisor-info__link-bg" src="img/advisor-info-link-bg.svg" alt="">
                        <img class="advisor-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a> #}
                </div>
            </div>
        </div>
        <div class="advisor-info__wrapper is-hidden" data-bio-modal="aggarwal">
            <div class="advisor-info__container">
                <button class="advisor-info__close" data-bio-close>
                    <img src="img/cross.svg" alt="">
                </button>
                <div class="advisor-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/aggarwal.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                </div>
                <div class="advisor-info__text">
                    <h3>Abhinav Aggarwal</h3>
                    <p>A globally recognized thought leader in Cognitive, Cloud, Analytics, Mobile, Social, Security, Blockchain, eCommerce, and BPM. Closed deals over $500mn and build pipeline for $7bn. As an IBM Chief Architect and the Open Group Certified Distinguished Architect, his expertise in big data analytics, cloud, and cognitive computing enables enterprises to effectively redefine strategy, improve product design, and increase operational efficiency with a renewed focus on the customer. </p>
                    <p>An expert at designing creative end to end solutions enabling integration of social, weather, IoT, streaming, and geo-spatial feeds in near real-time with internal/external data sources to drive actionable insights for next best action. 20+ years of deep experience in architecting and rolling out complex solutions involving cognitive applications such as aiding domain experts to make decisions quickly based on facts, automating call centers, online chat support, assisting professionals in diagnosing problems and proposing remedies rapidly with an acceptable level of confidence, and reducing equipment downtime by predicting failure points to co-schedule maintenance. Led setup of CoEs for large enterprises with global operations as well as engagements in patient care, financial, banking, health insurance, mutual funds, telecom, M&E, electronics, manufacturing, distribution, airlines, and hospitality.</p>
                    <p>Mr Aggarwal is a software architect in Modihost Team.</p>
                    {# <a class="advisor-info__link" href="#" target="_blank">
                        <img class="advisor-info__link-bg" src="img/advisor-info-link-bg.svg" alt="">
                        <img class="advisor-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a> #}
                </div>
            </div>
        </div>
        <div class="advisor-info__wrapper is-hidden" data-bio-modal="goossens">
            <div class="advisor-info__container">
                <button class="advisor-info__close" data-bio-close>
                    <img src="img/cross.svg" alt="">
                </button>
                <div class="advisor-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/JeanMarc-Goossens.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                </div>
                <div class="advisor-info__text">
                    <h3>Jean-Marc Goossens</h3>
                    <p>Jean-Marc Goossens was born in Brussels in 1963. Mr Goossens studied at the ‘European School of Brussels’ where he learnt to speak German, Dutch and English. After graduating as a ‘Master of Laws’ at the ‘Université Libre de Bruxelles’ and at the ‘Université Catholique de Louvain-La-Neuve’, Mr Goossens became a member of the Bar of Brussels in 1988 and has been ever since.</p>
                    <p>Jean-Marc Goossens is a business attorney specializing for more than 25 years in international mediation and international investments. Mr Goossens published numerous articles and studies on international financial and fiscal subjects. Numerous articles and studies by Mr Jean-Marc Goossens are authorative on the subject. The business lawyer is frequently quoted in both the Belgian and the international press.</p>
                    <p>He is a progressive and renowned Blockchain Lawyer. Attorney Jean-Marc Goossens offers legal services tailored to the unique needs of each client working with blockchain technology. He ensures that your company stays compliant and up to date with the constantly changing crypto laws and regulations.</p>
                    {# <a class="advisor-info__link" href="https://www.linkedin.com/in/jean-marc-goossens-873a9b14/" target="_blank">
                        <img class="advisor-info__link-bg" src="img/advisor-info-link-bg.svg" alt="">
                        <img class="advisor-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a> #}
                </div>
            </div>
        </div>
        {# <div class="advisor-info__wrapper is-hidden" data-bio-modal="modsingh">
            <div class="advisor-info__container">
                <button class="advisor-info__close" data-bio-close>
                    <img src="img/cross.svg" alt="">
                </button>
                <div class="advisor-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Abhishek-Modsingh.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                </div>
                <div class="advisor-info__text">
                    <h3>Abhishek Modsingh</h3>
                    <p>Principal Consultant</p>
                    <p>Abhishek comes with 7+ years of business development background and deep domain knowledge in Hospitality software’s, SaaS, IT vendor management and the ERP/CRM space. His connections across the industry have helped raise awareness and develop ModiHost’ s potential in India.</p>
                    <p>He has a deep understanding of the technology and is extremely patient and guides the team and our customers with dedication. He feels that the technology, specifically Artificial Intelligence and Blockchain, has the ability to transform current business processes as well as define businesses not yet in existence.</p>
                    <p>He has completed Bachelor's degree in Business Administration and love to spend time in creating various random paintings in his free time.</p>
                </div>
            </div>
        </div> #}
    </div>
    <div class="team-bg__wrapper team-bg__wrapper--advisors">
        <div class="team-bg__figure-1">
            <img class="team__parallax" data-depth="0.1" src="img/bg-figure-36.svg" alt="">
        </div>
        <div class="team-bg__figure-2">
            <img class="team__parallax" data-depth="0.1" src="img/bg-figure-29.svg" alt="">
        </div>
    </div>
</div>

<div class="team__wrapper team__wrapper--team" id="team">
    <button class="team__scroll-btn" data-scroll-to=".team__wrapper--team"><img src="img/how-it-works-scroll-icon.svg"></button>
    <div class="team__container container container--type-1">
        <div class="team__title title-section title-section--left">
            {# <h3 class="title-section__uppertitle">Lorem ipsum dolor sit</h3> #}
            <h2 class="title-section__title title-section__title--larger">Meet Our Team</h2>
        </div>
        {# <div class="team__description">
            <h4>Our Team</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div> #}
        <div class="team__list team__list--three-column">
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                      	<clipPath id="Polygon_1_">
                        		<use xlink:href="#Polygon"  style="overflow:visible;"/>
                      	</clipPath>
                      	<g style="clip-path:url(#Polygon_1_);">
                    			<image style="overflow:visible;" width="330" height="286" xlink:href="img/Stephan-Radwitz.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                      	</g>
                    </svg>
                    <a class="person-info__link" href="https://www.linkedin.com/in/stephan-radwitz/" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--red" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a>
                </div>
                <h4 class="person-info__name">Stephan Radwitz</h4>
                <h5 class="person-info__position">CEO</h5>
                <p class="person-info__description">Several iconic construction projects such as the Carl-Benz Stadion, multi-purpose stadium in Mannheim and the Gläserne Manufaktur in Saxony, Germany.</p>
            </div>
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Krish-Mahajan.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                    <a class="person-info__link" href="https://www.linkedin.com/in/krish-mahajan/" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--red" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a>
                </div>
                <h4 class="person-info__name">Krish Mahajan</h4>
                <h5 class="person-info__position">CTO</h5>
                <p class="person-info__description">UPI (Unified Payments Interface) for the National Payments Corporation of India which is handled over 150 million transactions in its first month of operation.</p>
            </div>
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Fiona-Yalcin.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                    <a class="person-info__link" href="https://www.linkedin.com/in/fiona-yalcin-66baa4176/" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--red" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a>
                </div>
                <h4 class="person-info__name">Fiona Yalcin</h4>
                <h5 class="person-info__position">CFO</h5>
                <p class="person-info__description">With a background in Human Resource Management and Development in the Hospitality Industry, she is the ideal person on the Modinori team.</p>
            </div>
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Abhishek-Modsingh.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                    {# <a class="person-info__link" href="" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--red" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a> #}
                </div>
                <h4 class="person-info__name">Abhishek Modsingh</h4>
                <h5 class="person-info__position">Principal Consultant</h5>
                <h5 class="person-info__description">Abhishek comes with 7+ years of business development background and deep domain knowledge in Hospitality software's, SaaS, IT vendor management and the ERP/CRM space.</h5>
            </div>
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Steve-Mooney.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                    {# <a class="person-info__link" href="" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--red" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a> #}
                </div>
                <h4 class="person-info__name">Steve Mooney</h4>
                {# <h5 class="person-info__position">Hospitality, Franchise and Business Development specialist</h5> #}
                <h5 class="person-info__description">Steve is a Hospitality, Franchise and Business Development specialist with over 25 years experience with Hospitality industry leaders such as Choice Hotels, Wyndham Worldwide, and Success Charging U.S.A.</h5>
            </div>
        </div>
    </div>
    <div class="team-bg__wrapper team-bg__wrapper--team">
        <div class="team-bg__figure-3">
            <img class="team__parallax" data-depth="0.1" src="img/bg-figure-30.svg" alt="">
        </div>
        <div class="team-bg__figure-4">
            <img class="team__parallax" data-depth="0.1" src="img/bg-figure-38.svg" alt="">
        </div>
    </div>
</div>

<div class="team__wrapper team__wrapper--developers">
    <div class="team__container container container--type-1">
        <div class="team__list team__list--four-column">
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Sanam-Khan.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                    <a class="person-info__link" href="https://www.linkedin.com/in/sanam-khan-74464056/" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--purple" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a>
                </div>
                <h4 class="person-info__name">Sanam Khan</h4>
                <h5 class="person-info__position">Principle Project Manager</h5>
            </div>
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Oneeb-Ahmed.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                    <a class="person-info__link" href="https://www.linkedin.com/in/oneebahmedsiddiqui/" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--purple" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a>
                </div>
                <h4 class="person-info__name">Oneeb Ahmed</h4>
                <h5 class="person-info__position">VP Solution Architecture & Blockchain</h5>
            </div>
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Shoaib-Bazmi.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                    <a class="person-info__link" href="https://www.linkedin.com/in/shoaibbazmi/" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--purple" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a>
                </div>
                <h4 class="person-info__name">Shoaib Bazmi</h4>
                <h5 class="person-info__position">Software Engineer</h5>
            </div>
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Qirat-Ameen-Marchant.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                    <a class="person-info__link" href="https://www.linkedin.com/in/qirat-ameen-merchant-69737952" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--purple" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a>
                </div>
                <h4 class="person-info__name">Qirat Ameen Marchant</h4>
                <h5 class="person-info__position">Senior Software Engineer</h5>
            </div>
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Subhan-Nizar.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                    <a class="person-info__link" href="https://www.linkedin.com/in/subhan-nizar-/" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--purple" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a>
                </div>
                <h4 class="person-info__name">Subhan Nizar</h4>
                <h5 class="person-info__position">Software Engineer</h5>
            </div>
            <div class="team__person">
                <div class="person-info__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 164 142" style="enable-background:new 0 0 164 142;" xml:space="preserve">
                        <clipPath id="Polygon_1_">
                            <use xlink:href="#Polygon"  style="overflow:visible;"/>
                        </clipPath>
                        <g style="clip-path:url(#Polygon_1_);">
                          <image style="overflow:visible;" width="330" height="286" xlink:href="img/Abdul-Moiz.jpg"  transform="matrix(0.4965 0 0 0.4965 0.1538 0)"></image>
                        </g>
                    </svg>
                    <a class="person-info__link" href="https://www.linkedin.com/abdulmoiz251/" target="_blank">
                        <svg class="person-info__link-bg person-info__link-bg--purple" xmlns="http://www.w3.org/2000/svg" width="47.343" height="41" viewBox="0 0 47.343 41">
                            <path d="M321.7,16200.1l11.837-20.5H357.21l11.836,20.5-11.836,20.5H333.537Z" transform="translate(-321.688 -16179.6)"/>
                        </svg>
                        <img class="person-info__link-icon" src="img/person-info-link-icon.svg" alt="">
                    </a>
                </div>
                <h4 class="person-info__name">Abdul Moiz</h4>
                <h5 class="person-info__position">Software Engineer</h5>
            </div>
        </div>
    </div>
    <div class="team-bg__wrapper team-bg__wrapper--developers">
        <div class="team-bg__figure-5">
            <img class="team__parallax" data-depth="0.1" src="img/bg-figure-30.svg" alt="">
        </div>
    </div>
</div>
