<div class="solutions__wrapper" id="solutions2">
    <div class="solutions__container container container--default">
        <div class="solutions__title title-section title-section--center">
            <h3 class="title-section__uppertitle"><span>FAST, EFFICIENT, & SECURE</span></h3>
            <h2 class="title-section__title title-section__title--smaller solutions__title-h2">Modihost Utilizes EOS Blockchain</h2>
            <h4 class="title-section title-section__title solutions__title-section">EOSIO is a highly performant open-source blockchain platform, built to support and operate safe, compliant, and predictable digital infrastructures.</h4>
        </div>
        <div class="solutions__item">
            <img class="solutions__img" src="/img/solution2-1.png" alt="">
            <div class="solutions__text">
                <div class="solutions__text-decoration">
                    <div class="solutions__bg-elem-1">
                        <img class="solutions__bg-elem-parallax" data-depth="0.5" src="img/bg-figure-34.svg" alt="">
                    </div>
                </div>
                <div class="solutions__text-content">
                    <h4>FAST & EFFICIENT</h4>
                    <p>EOS provides Modihost with everything it needs in terms of speed of transactions and execution
                        while maintaining a low cost for the ecosystem. Modihost utilizes EOS to ensure a flawless and
                        seamless transfer of data and information within the ecosystem.</p>
                </div>
            </div>
        </div>
        <div class="solutions__item">
            <div class="solutions__text">
                <div class="solutions__text-decoration">
                    <div class="solutions__bg-elem-2">
                        <img class="solutions__bg-elem-parallax" data-depth="0.5" src="img/bg-figure-1.svg" alt="">
                    </div>
                </div>
                <div class="solutions__text-content">
                    <h4>FLEXIBLE DESIGN</h4>
                    <p>Modihost utilizes EOS flexible design and configurability to deliver high-end innovative
                        solutions through the integration of AI & Hotel Management Systems. Modihost also utilizes the
                        stacking mechanism to provide incentives and enable a sustainable interaction through the
                        ecosystem.</p>
                </div>
            </div>
            <img class="solutions__img" src="/img/solution2-2.png" alt="">
        </div>
        <div class="solutions__item">
            <img class="solutions__img" src="/img/solution2-3.png" alt="">
            <div class="solutions__text">
                <div class="solutions__text-decoration">
                    <div class="solutions__bg-elem-1">
                        <img class="solutions__bg-elem-parallax" data-depth="0.5" src="img/bg-figure-40.svg" alt="">
                    </div>
                </div>
                <div class="solutions__text-content">
                    <h4>SECURITY & COMPLIANCE</h4>
                    <p>Regardless of the technology provided, the key element and the main focus of Modihost is the security & compliance of the protocol. EOS provides a highly secure protocol that is compliant with large regulatory frameworks which fits the requirements of the whole ecosystem.</p>
                </div>
            </div>
        </div>
    </div>
</div>
