<div class="message__wrapper">
    <div class="container container--type-2">
        <div class="message__container">
            <p class="message__info">Token Generation Event Smart Contract</p>
            <a class="link link--larger" href="#">View Code</a>
        </div>
    </div>
</div>
