<div class="github__wrapper" id="github">
    <div class="github__container container container--default">
        <div class="github__info">
            <h3 class="github__title">Check out our GitHub Repository to see the project development progress</h3>
            <ul class="github__links">
                <li>
                    <a class="link" href="https://github.com/ModiHost/contracts" target="_blank">
                        <img src="img/github-icon.png" alt="">Smart Contracts
                    </a>
                </li>
                {# <li>
                    <a class="link" href="#">
                        <img src="img/github-icon.png" alt="">Modihost Applications
                    </a>
                </li> #}
            </ul>
        </div>
        <img class="github__img" src="img/github-img.png" alt="">
    </div>
</div>
