<div class="token-numbers__wrapper" id="tokenomics">
    <div class="token-numbers__container container container--type-1">
        <div class="tokenomics__wrapper">
            <h3 class="tokenomics__title title-section__title title-section__title--smaller">Tokenomics</h3>
            <div class="tokenomics__table">
                <div class="tokenomics__row">
                    <div class="tokenomics__column-left">
                        Blockchain Platform
                    </div>
                    <div class="tokenomics__column-right">
                        EOS
                    </div>
                </div>
                <div class="tokenomics__row">
                    <div class="tokenomics__column-left">
                        Token standard
                    </div>
                    <div class="tokenomics__column-right">
                        EOS
                    </div>
                </div>
                <div class="tokenomics__row">
                    <div class="tokenomics__column-left">
                        Decimal
                    </div>
                    <div class="tokenomics__column-right">
                        18
                    </div>
                </div>
                <div class="tokenomics__row">
                    <div class="tokenomics__column-left">
                        Token symbol
                    </div>
                    <div class="tokenomics__column-right">
                        AIM
                    </div>
                </div>
                <div class="tokenomics__row">
                    <div class="tokenomics__column-left">
                        Token symbol
                    </div>
                    <div class="tokenomics__column-right">
                        AIM
                    </div>
                </div>
            </div>
            {# <a class="tokenomics__link link link--purple" href="#">view all</a> #}
        </div>
        <div class="one-pager__wrapper">
            <div class="one-pager__content">
                <h3 class="one-pager__title title-section__title title-section__title--smaller">One Pager</h3>
                {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p> #}
                {# <p class="one-pager__placeholder">Coming Soon</p> #}
                <a href="/media/ModiHost_OnePager.pdf" target="_blank" class="one-pager__button button button--dark">download</a>
            </div>
            <div class="one-pager__decoration">
                <div class="one-pager__decoration-elem">
                    <img class="one-pager__decoration-parallax" data-depth="0.5" src="img/bg-figure-22.svg" alt="">
                </div>
            </div>
        </div>
        <div class="token-graphic__wrapper">
            <h3 class="token-graphic__title title-section__title title-section__title--smaller">Token Distribution Block</h3>
            <div class="token-graphic__chart">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 390 390" style="enable-background:new 0 0 390 390;" xml:space="preserve">
                    <path data-chart-section="default" class="token-graphic__section is-active" fill="#181E30" d="M193.8,386.9c105.7,0,191.7-85.8,192-191.5l-23-0.1c-0.3,93-76,168.5-169,168.5c-93.2,0-169-75.8-169-169
                      c0-93.2,75.8-169,169-169v-23C88,2.9,1.9,89,1.9,194.9C1.9,300.7,88,386.9,193.8,386.9z"/>
                    <path data-chart-section="3" class="token-graphic__section" fill="#FF583C" d="M193.8,2.9v23c0,0,0,0,0,0c18.3,0,35.9,2.9,52.4,8.3l7.1-21.9C234.6,6.2,214.6,2.9,193.8,2.9
                      C193.8,2.9,193.8,2.9,193.8,2.9z"/>
                    <path data-chart-section="2" class="token-graphic__section" fill="#6B70FC" d="M253.4,12.4l-7.1,21.9c26.8,8.8,50.7,24.1,69.7,44l16.6-15.9C311,39.7,283.8,22.3,253.4,12.4z"/>
                    <path data-chart-section="1" class="token-graphic__section" fill="#484CAA" d="M385.8,195.2c0-0.1,0-0.2,0-0.4c0-51.4-20.3-98.1-53.2-132.5L316,78.2c29,30.4,46.8,71.5,46.8,116.7
                      c0,0.1,0,0.2,0,0.3L385.8,195.2z"/>
                    <circle fill="#DADBEE" cx="193.4" cy="195.1" r="153.8"/>
                </svg>
                <div id="token-distribution-tooltips" class="token-graphic__tooltip">
                    <h5>75%</h5>
                    <span>Private and Public sale</span>
                </div>
            </div>
            <ul class="token-graphic__legend">
                <li data-chart-data="default">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="31.2" viewBox="0 0 36 31.2">
                        <path fill="#181E30" d="M856.471,10643.4l9-15.6h18l9,15.6-9,15.6h-18Z" transform="translate(-856.469 -10627.8)"></path>
                    </svg>
                    <span class="number">75%</span>
                    <span>Private and Public sale</span>
                </li>
                <li data-chart-data="1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="31.2" viewBox="0 0 36 31.2">
                        <path fill="#484CAA" d="M856.471,10643.4l9-15.6h18l9,15.6-9,15.6h-18Z" transform="translate(-856.469 -10627.8)"></path>
                    </svg>
                    <span class="number">12%</span>
                    <span>Team and Advisors</span>
                </li>
                <li data-chart-data="2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="31.2" viewBox="0 0 36 31.2">
                        <path fill="#6B70FC" d="M856.471,10643.4l9-15.6h18l9,15.6-9,15.6h-18Z" transform="translate(-856.469 -10627.8)"></path>
                    </svg>
                    <span class="number">8%</span>
                    <span>Main Pool Reserve</span>
                </li>
                <li data-chart-data="3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="31.2" viewBox="0 0 36 31.2">
                        <path fill="#FF583C" d="M856.471,10643.4l9-15.6h18l9,15.6-9,15.6h-18Z" transform="translate(-856.469 -10627.8)"></path>
                    </svg>
                    <span class="number">5%</span>
                    <span>Initial Hotels Invitation</span>
                </li>
            </ul>
        </div>
    </div>
</div>
