<div class="problems__wrapper">
    <div class="problems-anim-bg__wrapper">
        <div class="problems-anim-bg__fill"></div>
        <img class="problems-anim-bg__edge-1" src="img/edge-figure-gray.svg" alt="">
        <img class="problems-anim-bg__edge-2" src="img/edge-figure-white.svg" alt="">
        <img class="problems-anim-bg__edge-3" src="img/edge-figure-gray.svg" alt="">
        <img class="problems-anim-bg__edge-4" src="img/edge-figure-gray.svg" alt="">
        <img class="problems-anim-bg__edge-5" src="img/edge-figure-gray.svg" alt="">
        <img class="problems-anim-bg__edge-6" src="img/edge-figure-gray.svg" alt="">
        <img class="problems-anim-bg__edge-7" src="img/edge-figure-gray.svg" alt="">
    </div>
    <div class="problems__container container container--type-1">
        <div class="problems__title">
            <h2 class="title-section__title title-section__title--smaller">Despite the industry size, hotels and guests face significant problems</h2>
            <div class="problems__navigation swiper-navigation">
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white main-moving-btn"></div>
            </div>
        </div>
        <div class="problems__carousel">
            <div class="problems__images swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/problems-img-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/problems-img-2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/problems-img-3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="problems__description swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul class="problems__list">
                            <li class="problems__item">
                                <span class="problem__title">
                                    <img class="problem__icon" src="img/problems-icon-1.svg" alt="">Hotels’ Problem
                                </span>
                                <span class="problem__description"><b>Low upsales</b> causing lost revenue opportunities.</span>
                            </li>
                            <li class="problems__item">
                                <span class="problem__title">
                                    <img class="problem__icon" src="img/problems-icon-2.svg" alt="">Guests’ Problem
                                </span>
                                <span class="problem__description"><b>Insufficient Personalization</b> is a source of guest's disappointment.</span>
                            </li>
                            <li class="problems__item problem__item--solution">
                                <span class="problem__title">
                                    <img class="problem__icon" src="img/problems-icon-3.svg" alt="">Modihost Solution
                                </span>
                                <span class="problem__description">Personalized experience fascinates guests and drives upsales up to 25%.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="problems__list">
                            <li class="problems__item">
                                <span class="problem__title">
                                    <img class="problem__icon" src="img/problems-icon-1.svg" alt="">Hotels’ Problem
                                </span>
                                <span class="problem__description">Hospitality industry stays <b>isolated from AI capabilities</b></span>
                            </li>
                            <li class="problems__item">
                                <span class="problem__title">
                                    <img class="problem__icon" src="img/problems-icon-2.svg" alt="">Guests’ Problem
                                </span>
                                <span class="problem__description"><b>Lack of latest technology</b> leads to guest's annoyance</span>
                            </li>
                            <li class="problems__item problem__item--solution">
                                <span class="problem__title">
                                    <img class="problem__icon" src="img/problems-icon-3.svg" alt="">Modihost Solution
                                </span>
                                <span class="problem__description">Out of the box AI solution for any hotel brings next level of service</span>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="problems__list">
                            <li class="problems__item">
                                <span class="problem__title">
                                    <img class="problem__icon" src="img/problems-icon-1.svg" alt="">Hotels’ Problem
                                </span>
                                <span class="problem__description">Wasting of staff resources constantly increases <b>operating expenses</b></span>
                            </li>
                            <li class="problems__item">
                                <span class="problem__title">
                                    <img class="problem__icon" src="img/problems-icon-2.svg" alt="">Guests’ Problem
                                </span>
                                <span class="problem__description"><b>Time wasting</b> for routine procedures ruins customer's satisfaction</span>
                            </li>
                            <li class="problems__item problem__item--solution">
                                <span class="problem__title">
                                    <img class="problem__icon" src="img/problems-icon-3.svg" alt="">Modihost Solution
                                </span>
                                <span class="problem__description">Significant improvement in operations and saving guests time by optimizing and automating common tasks</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
