<div class="penetration__wrapper" id="penetration">
    <div class="penetration-anim-bg__wrapper">
        <div class="penetration-anim-bg__fill"></div>
        <img class="penetration-anim-bg__edge-1" src="img/edge-figure-gray.svg" alt="">
        <img class="penetration-anim-bg__edge-3" src="img/edge-figure-gray.svg" alt="">
        <img class="penetration-anim-bg__edge-4" src="img/edge-figure-white.svg" alt="">
        <img class="penetration-anim-bg__edge-5" src="img/edge-figure-gray.svg" alt="">
    </div>
    <button class="penetration__scroll-btn" data-scroll-to=".penetration__wrapper"><img src="img/how-it-works-scroll-icon.svg" alt=""></button>
    <div class="penetration__container container container--default">
        <div class="penetration__title title-section title-section--center">
            <h3 class="title-section__uppertitle"><span>Solid Expansion Across the World<span></h3>
            <h2 class="title-section__title title-section__title--larger">Market Penetration</h2>
        </div>
        <h4 class="penetration__lead">Select Year to see the expected adoption of the platform across regions.</h4>
        <div class="map-toggle-line__carousel swiper-container">
            <div class="swiper-wrapper">
                <div class="map-toggle-line__wrapper swiper-slide">
                    <div class="map-toggle-line__item map-toggle-line__item--active">
                        <button class="map-toggle-line__button">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40.3 35" style="enable-background:new 0 0 40.3 35;" xml:space="preserve">
                                <g class="polygon-button__active">
                                    <polygon points="4.6,17.5 12.4,4 10.1,0 0,17.5 10.1,35 12.4,31 	"/>
                                    <polygon points="30.2,0 27.9,4 35.7,17.5 27.9,31 30.2,35 40.3,17.5 	"/>
                                </g>
                                <path class="polygon-button__default" d="M30.2,0H10.1L0,17.5l10.1,17.4h20.2l10.1-17.4L30.2,0z M26,27.6H14.3L8.5,17.5l5.8-10.1H26l5.8,10.1L26,27.6z"/>
                            </svg>
                        </button>
                        <span class="map-toggle-line__caption">2020</span>
                    </div>
                    <div class="map-toggle-line__item">
                        <button class="map-toggle-line__button">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40.3 35" style="enable-background:new 0 0 40.3 35;" xml:space="preserve">
                                <g class="polygon-button__active">
                                    <polygon points="4.6,17.5 12.4,4 10.1,0 0,17.5 10.1,35 12.4,31 	"/>
                                    <polygon points="30.2,0 27.9,4 35.7,17.5 27.9,31 30.2,35 40.3,17.5 	"/>
                                </g>
                                <path class="polygon-button__default" d="M30.2,0H10.1L0,17.5l10.1,17.4h20.2l10.1-17.4L30.2,0z M26,27.6H14.3L8.5,17.5l5.8-10.1H26l5.8,10.1L26,27.6z"/>
                            </svg>
                        </button>
                        <span class="map-toggle-line__caption">2021</span>
                    </div>
                    <div class="map-toggle-line__item">
                        <button class="map-toggle-line__button">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40.3 35" style="enable-background:new 0 0 40.3 35;" xml:space="preserve">
                                <g class="polygon-button__active">
                                    <polygon points="4.6,17.5 12.4,4 10.1,0 0,17.5 10.1,35 12.4,31 	"/>
                                    <polygon points="30.2,0 27.9,4 35.7,17.5 27.9,31 30.2,35 40.3,17.5 	"/>
                                </g>
                                <path class="polygon-button__default" d="M30.2,0H10.1L0,17.5l10.1,17.4h20.2l10.1-17.4L30.2,0z M26,27.6H14.3L8.5,17.5l5.8-10.1H26l5.8,10.1L26,27.6z"/>
                            </svg>
                        </button>
                        <span class="map-toggle-line__caption">2022</span>
                    </div>
                    <div class="map-toggle-line__item">
                        <button class="map-toggle-line__button">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40.3 35" style="enable-background:new 0 0 40.3 35;" xml:space="preserve">
                                <g class="polygon-button__active">
                                    <polygon points="4.6,17.5 12.4,4 10.1,0 0,17.5 10.1,35 12.4,31 	"/>
                                    <polygon points="30.2,0 27.9,4 35.7,17.5 27.9,31 30.2,35 40.3,17.5 	"/>
                                </g>
                                <path class="polygon-button__default" d="M30.2,0H10.1L0,17.5l10.1,17.4h20.2l10.1-17.4L30.2,0z M26,27.6H14.3L8.5,17.5l5.8-10.1H26l5.8,10.1L26,27.6z"/>
                            </svg>
                        </button>
                        <span class="map-toggle-line__caption">2023</span>
                    </div>
                    <div class="map-toggle-line__item">
                        <button class="map-toggle-line__button">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40.3 35" style="enable-background:new 0 0 40.3 35;" xml:space="preserve">
                                <g class="polygon-button__active">
                                    <polygon points="4.6,17.5 12.4,4 10.1,0 0,17.5 10.1,35 12.4,31 	"/>
                                    <polygon points="30.2,0 27.9,4 35.7,17.5 27.9,31 30.2,35 40.3,17.5 	"/>
                                </g>
                                <path class="polygon-button__default" d="M30.2,0H10.1L0,17.5l10.1,17.4h20.2l10.1-17.4L30.2,0z M26,27.6H14.3L8.5,17.5l5.8-10.1H26l5.8,10.1L26,27.6z"/>
                            </svg>
                        </button>
                        <span class="map-toggle-line__caption">2024</span>
                    </div>
                    <div class="map-toggle-line__item">
                        <button class="map-toggle-line__button">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40.3 35" style="enable-background:new 0 0 40.3 35;" xml:space="preserve">
                                <g class="polygon-button__active">
                                    <polygon points="4.6,17.5 12.4,4 10.1,0 0,17.5 10.1,35 12.4,31 	"/>
                                    <polygon points="30.2,0 27.9,4 35.7,17.5 27.9,31 30.2,35 40.3,17.5 	"/>
                                </g>
                                <path class="polygon-button__default" d="M30.2,0H10.1L0,17.5l10.1,17.4h20.2l10.1-17.4L30.2,0z M26,27.6H14.3L8.5,17.5l5.8-10.1H26l5.8,10.1L26,27.6z"/>
                            </svg>
                        </button>
                        <span class="map-toggle-line__caption">2025</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-graphic__wrapper">
            <div class="map-numbers__lists">
                <ul class="map-numbers__list">
                    <li>
                        <span class="map-numbers__number" data-number="100">100</span>
                        <span class="map-numbers__caption">Hotels</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="5000">5 000</span>
                        <span class="map-numbers__caption">Rooms</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="50">50</span>
                        <span class="map-numbers__caption">RPH</span>
                    </li>
                </ul>
                <ul class="map-numbers__list is-hidden">
                    <li>
                        <span class="map-numbers__number" data-number="800">800</span>
                        <span class="map-numbers__caption">Hotels</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="32000">32 000</span>
                        <span class="map-numbers__caption">Rooms</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="40">40</span>
                        <span class="map-numbers__caption">RPH</span>
                    </li>
                </ul>
                <ul class="map-numbers__list is-hidden">
                    <li>
                        <span class="map-numbers__number" data-number="5000">5 000</span>
                        <span class="map-numbers__caption">Hotels</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="275000">275 000</span>
                        <span class="map-numbers__caption">Rooms</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="55">55</span>
                        <span class="map-numbers__caption">RPH</span>
                    </li>
                </ul>
                <ul class="map-numbers__list is-hidden">
                    <li>
                        <span class="map-numbers__number" data-number="9000">9 000</span>
                        <span class="map-numbers__caption">Hotels</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="585000">585 000</span>
                        <span class="map-numbers__caption">Rooms</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="65">65</span>
                        <span class="map-numbers__caption">RPH</span>
                    </li>
                </ul>
                <ul class="map-numbers__list is-hidden">
                    <li>
                        <span class="map-numbers__number" data-number="15000">15 000</span>
                        <span class="map-numbers__caption">Hotels</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="1050000">1 050 000</span>
                        <span class="map-numbers__caption">Rooms</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="70">70</span>
                        <span class="map-numbers__caption">RPH</span>
                    </li>
                </ul>
                <ul class="map-numbers__list is-hidden">
                    <li>
                        <span class="map-numbers__number" data-number="20000">20 000</span>
                        <span class="map-numbers__caption">Hotels</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="1600000">1 600 000</span>
                        <span class="map-numbers__caption">Rooms</span>
                    </li>
                    <li>
                        <span class="map-numbers__number" data-number="80">80</span>
                        <span class="map-numbers__caption">RPH</span>
                    </li>
                </ul>
            </div>
            <div class="map-graphic__container">
                <img class="map-graphic__background" src="img/map-graphic-bg.png" alt="">
                <div class="map-graphic__points">
                    <div class="map-graphic__year-points map-graphic__year-points--active">
                        <img style="position:absolute;top:26.5%;left:40.5%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:25%;left:48%" src="img/map-year-point-4.png">
                        <img style="position:absolute;top:57%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:27%;left:20%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:58%;left:54%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:45%;left:83%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:20%;left:23%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:67%;left:29%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:37%;left:67%" src="img/map-year-point-2.png">
                    </div>
                    <div class="map-graphic__year-points">
                        <img style="position:absolute;top:26.5%;left:40.5%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:58%;left:54%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:45%;left:83%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:20%;left:23%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:67%;left:29%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:25%;left:48%" src="img/map-year-point-4.png">
                        <img style="position:absolute;top:57%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:27%;left:20%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:33%;left:8%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:19%;left:43%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:41%;left:76%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:34%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:37%;left:67%" src="img/map-year-point-2.png">
                    </div>
                    <div class="map-graphic__year-points">
                        <img style="position:absolute;top:26.5%;left:40.5%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:58%;left:54%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:45%;left:83%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:20%;left:23%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:67%;left:29%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:25%;left:48%" src="img/map-year-point-4.png">
                        <img style="position:absolute;top:57%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:27%;left:20%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:33%;left:8%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:41%;left:76%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:34%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:19%;left:43%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:13%;left:50.5%" src="img/map-year-point-4.png">
                        <img style="position:absolute;top:36%;left:73%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:76%;left:50%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:37%;left:67%" src="img/map-year-point-2.png">
                    </div>
                    <div class="map-graphic__year-points">
                        <img style="position:absolute;top:26.5%;left:40.5%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:58%;left:54%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:45%;left:83%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:20%;left:23%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:67%;left:29%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:25%;left:48%" src="img/map-year-point-4.png">
                        <img style="position:absolute;top:57%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:27%;left:20%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:33%;left:8%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:41%;left:76%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:34%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:19%;left:43%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:13%;left:50.5%" src="img/map-year-point-4.png">
                        <img style="position:absolute;top:36%;left:73%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:76%;left:50%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:32%;left:4%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:31%;left:55%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:26%;left:42%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:37%;left:67%" src="img/map-year-point-2.png">
                    </div>
                    <div class="map-graphic__year-points">
                        <img style="position:absolute;top:26.5%;left:40.5%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:58%;left:54%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:45%;left:83%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:20%;left:23%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:67%;left:29%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:25%;left:48%" src="img/map-year-point-4.png">
                        <img style="position:absolute;top:57%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:27%;left:20%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:33%;left:8%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:19%;left:43%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:13%;left:50.5%" src="img/map-year-point-4.png">
                        <img style="position:absolute;top:41%;left:76%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:34%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:36%;left:73%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:32%;left:4%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:76%;left:50%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:31%;left:55%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:26%;left:42%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:19%;left:47%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:63%;left:16%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:23%;left:86%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:37%;left:67%" src="img/map-year-point-2.png">
                    </div>
                    <div class="map-graphic__year-points">
                        <img style="position:absolute;top:26.5%;left:40.5%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:58%;left:54%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:45%;left:83%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:20%;left:23%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:67%;left:29%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:25%;left:48%" src="img/map-year-point-4.png">
                        <img style="position:absolute;top:57%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:27%;left:20%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:33%;left:8%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:19%;left:43%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:13%;left:50.5%" src="img/map-year-point-4.png">
                        <img style="position:absolute;top:41%;left:76%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:34%;left:78.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:36%;left:73%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:32%;left:4%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:76%;left:50%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:31%;left:55%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:26%;left:42%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:19%;left:47%" src="img/map-year-point-2.png">
                        <img style="position:absolute;top:63%;left:16%" src="img/map-year-point-3.png">
                        <img style="position:absolute;top:23%;left:86%" src="img/map-year-point-1.png">
                        <img style="position:absolute;top:47%;left:13%" src="img/map-year-point-6.png">
                        <img style="position:absolute;top:49%;left:70.5%" src="img/map-year-point-5.png">
                        <img style="position:absolute;top:37%;left:67%" src="img/map-year-point-2.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
