<div class="video__wrapper video__wrapper--top video__wrapper--first">
    <div class="video__container container container--type-2">
        <div class="video__cover">
            <img class="video__cover-img" src="img/ModiHost-cover-video-4-1.jpg" alt="">
            <span class="video__cover-title">ModiHost in 80<br>Seconds</span>
            <img class="video__play-btn" src="img/video-play-btn.png" alt="">
        </div>
        <iframe class="video__player" width="876" height="493" src="https://www.youtube.com/embed/lDMrWJjvvrk?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
