<div class="opportunity__wrapper">
    <div class="opportunity__container container container--type-1">
        <div class="opportunity__title title-section title-section--left">
            <h3 class="title-section__uppertitle"><span>the industry is about to change</span></h3>
            <h2 class="title-section__title title-section__title--smaller">AI forces hotel services to a new level</h2>
        </div>
        <div class="opportunity__carousel">
            <div class="opportunity__images swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="opportunity__photo" src="img/opportunity-img-01.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img class="opportunity__photo" src="img/opportunity-img-02.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img class="opportunity__photo" src="img/opportunity-img-03.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="opportunity__descriptions swiper-container">
                <div class="swiper-wrapper">
                    <div class="opportunity__description swiper-slide">
                        <div class="opportunity__text">
                            <p>Creating exceptional personalized experience for the guest with a number of technologies like Watson personal assistant, chatbots, and direct interaction with a guest. Prediction of guest’s needs and preferences makes them feel special.</p>
                        </div>
                    </div>
                    <div class="opportunity__description swiper-slide">
                        <div class="opportunity__text">
                            <p>Upsales are significantly increased because of the platform’s AI capabilities. Direct interaction between the platform and guest and suggestions for hotel staff brings relevant, on time and personalized attention to the guest, which converts to upsales.</p>
                        </div>
                    </div>
                    <div class="opportunity__description swiper-slide">
                        <div class="opportunity__text">
                            <p>Daily routine hotel operations are automated by AI reducing the cost and letting the staff to increase the quality of hotel service at other areas.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-navigation">
                    <div class="swiper-button-prev swiper-button-white"></div>
                    <div class="swiper-button-next swiper-button-white main-moving-btn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="opportunity-bg__wrapper">
        <div class="opportunity-bg__container container container--type-1">
            <div class="opportunity-bg__figure-2">
                <img class="opportunity__parallax" data-depth="0.1" data-scroll-parallax src="img/bg-figure-2.svg" alt="">
            </div>
            {# <div class="opportunity-bg__figure-6">
                <img class="opportunity__parallax" data-depth="0.1" src="img/bg-figure-10.svg" alt="">
            </div> #}
            {# <div class="opportunity-bg__figure-7">
                <img class="opportunity__parallax" data-depth="0.1" src="img/bg-figure-11.svg" alt="">
            </div> #}
            <div class="opportunity-bg__figure-3">
                <img class="opportunity__parallax" data-depth="0.1" data-scroll-parallax src="img/bg-figure-3.svg" alt="">
            </div>
        </div>
        <div class="opportunity-bg__figure-1">
            <img class="opportunity__parallax" data-depth="0.1" data-scroll-parallax src="img/bg-figure-1.svg" alt="">
        </div>
        <div class="opportunity-bg__figure-4">
            <img class="opportunity__parallax" data-depth="0.1" data-scroll-parallax src="img/bg-figure-4.svg" alt="">
        </div>
        {# <div class="opportunity-bg__figure-5">
            <img class="opportunity__parallax" data-depth="0.1" src="img/bg-figure-9.svg" alt="">
        </div> #}
    </div>
</div>
