<div class="how-it-works__wrapper" id="how-it-works">
    <div class="how-it-works-anim-bg__wrapper">
        <div class="how-it-works-anim-bg__fill"></div>
        <img class="how-it-works-anim-bg__edge-1" src="img/edge-figure-gray.svg" alt="">
        <img class="how-it-works-anim-bg__edge-2" src="img/edge-figure-white.svg" alt="">
        <img class="how-it-works-anim-bg__edge-3" src="img/edge-figure-gray.svg" alt="">
        <img class="how-it-works-anim-bg__edge-4" src="img/edge-figure-white.svg" alt="">
        <img class="how-it-works-anim-bg__edge-5" src="img/edge-figure-gray.svg" alt="">
        <img class="how-it-works-anim-bg__edge-6" src="img/edge-figure-gray.svg" alt="">
        <img class="how-it-works-anim-bg__edge-7" src="img/edge-figure-gray.svg" alt="">
    </div>
    <button class="how-it-works__scroll" data-scroll-to=".how-it-works__wrapper"><img src="img/how-it-works-scroll-icon.svg" alt=""></button>
    <div class="how-it-works__container container container--type-1">
        <div class="how-it-works__title title-section title-section--center">
            <h3 class="title-section__uppertitle"><span>An Alloy of Cutting-Edge Technologies</span></h3>
            <h2 class="title-section__title title-section__title--smaller">How the platform works</h2>
        </div>
        <p class="how-it-works__description">ModiHost is an innovative SaaS hotel management system facilitating easy access to AI technologies for hotels of any size or complexity.</p>
        <p class="how-it-works__description">Using blockchain for transparency, the system harnesses the power of AI to deliver the best possible customer experience – for hotels and their guests. ModiHost predicts customers' needs beyond their expectations.</p>
        <div class="how-it-works__cards swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="how-it-works__card">
                        <img src="img/how-it-works-card-icon-1.svg" alt="">
                        <p>Hotel gets service from Modihost to serve guests needs or current hotel operations with advanced platform’s capabilities and Artificial Intelligence.</p>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="how-it-works__card">
                        <img src="img/how-it-works-card-icon-2.svg" alt="">
                        <p>Pool provides liquidity to hotel by sending tokens for Modihost operations and receives reward for this.</p>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="how-it-works__card">
                        <img src="img/how-it-works-card-icon-3.svg" alt="">
                        <p>Pool tokens lent to hotel operations are constantly circulating and earn interest for the holders. Every holder could join the pool to lend tokens to hotels.</p>
                    </div>
                </li>
            </ul>
            <div class="swiper-navigation">
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white main-moving-btn"></div>
            </div>
        </div>
    </div>
</div>
