<div class="variants__wrapper">
    <div class="container container--default">
        <ul class="variants__list">
            {# <li>
                <h5>One Pager</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit.</p>
                <a class="button button--white" href="#" download>Download</a>
            </li> #}
            <li>
                <h5>Whitepaper</h5>
                <p>Read full information about platform and how it works.</p>
                <a class="button button--white" href="/media/ModiHost_Whitepaper-v01.pdf"  target="_blank">Download</a>
            </li>
            {# <li>
                <h5>MVP</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit.</p>
                <a class="button button--white" href="#" download>Join</a>
            </li> #}
            <li>
                <h5>Technical paper</h5>
                <p>Dive into technical details of Modihost.</p>
                <a class="button button--white" href="/media/Modihost_Core-HMS-Technical_Whitepaper_v05.pdf"  target="_blank">Download</a>
            </li>
            <li>
                <h5>Market Poll</h5>
                <p>Survey of Decision Makers in Hotels and Hotel Owners.</p>
                <a class="button button--white" href="/media/ModiHost_ComRes_Report.pdf"  target="_blank">Download</a>
            </li>
        </ul>
    </div>
</div>
