<div class="progress__wrapper">
    <div class="progress__container container container--type-1">
        <h2 class="progress__title title-section__title title-section__title--smaller">Project progress</h2>
        <div class="progress__grid">
            <div class="progress__item">
                <img class="progress__icon" src="img/progress-check.svg" alt="">
                <h3 class="progress__caption">MVP development</h3>
            </div>
            <div class="progress__item">
                <img class="progress__icon" src="img/progress-check.svg" alt="">
                <h3 class="progress__caption">Testnet launch</h3>
            </div>
            <div class="progress__item">
                <img class="progress__icon" src="img/progress-check.svg" alt="">
                <h3 class="progress__caption">Initial hotels attraction</h3>
            </div>
            <div class="progress__item">
                <img class="progress__icon" src="img/progress-check.svg" alt="">
                <h3 class="progress__caption">Pool explorer launch</h3>
            </div>
            <div class="progress__item">
                <img class="progress__icon" src="img/progress-check.svg" alt="">
                <h3 class="progress__caption">Mainnet launch</h3>
            </div>
            <div class="progress__item">
                <img class="progress__icon" src="img/progress-development.svg" alt="">
                <h3 class="progress__caption progress__caption--inactive">Advanced platform development</h3>
            </div>
            <div class="progress__item">
                <img class="progress__icon" src="img/progress-connection.svg" alt="">
                <h3 class="progress__caption progress__caption--inactive">Hotel chains connection</h3>
            </div>
            <div class="progress__item">
                <img class="progress__icon" src="img/progress-expansion.svg" alt="">
                <h3 class="progress__caption progress__caption--inactive">Global market expansion</h3>
            </div>
        </div>
    </div>
</div>
