<div class="roadmap__wrapper" id="roadmap">
    <div class="container container--type-1">
        <div class="roadmap__top">
            <div class="title-section--left">
                <h3 class="title-section__uppertitle"><span>Next steps of development progress</span></h3>
                <h2 class="title-section__title title-section__title--smaller">Roadmap</h2>
            </div>
            <div class="roadmap__navigation swiper-navigation">
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white main-moving-btn"></div>
            </div>
        </div>
    </div>
    <div class="roadmap-select__container container container--default">
        <div class="roadmap__select-slide select-slide__wrapper">
            <div class="select-slide__button">
                <b>Phase 0</b> / Quarter 1
            </div>
            <ul class="select-slide__dropdown">
                <li><b>Phase 0</b> / Quarter 1</li>
                <li><b>Phase 1</b> / Quarter 2</li>
                <li><b>Phase 1</b> / Quarter 3</li>
                <li><b>Phase 1</b> / Quarter 4</li>
                <li><b>Phase 1</b> / Quarter 5</li>
                <li><b>Phase 2</b> / Quarter 6</li>
                <li><b>Phase 2</b> / Quarter 7</li>
                <li><b>Phase 2</b> / Quarter 8</li>
                <li><b>Phase 2</b> / Quarter 9</li>
            </ul>
        </div>
    </div>
    <div class="roadmap__container container">
        <div class="roadmap__carousel swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-load-image="img/roadmap_p0.svg"></div>
                <div class="swiper-slide" data-load-image="img/roadmap_p1q1.svg"></div>
                <div class="swiper-slide" data-load-image="img/roadmap_p1q2.svg"></div>
                <div class="swiper-slide" data-load-image="img/roadmap_p1q3.svg"></div>
                <div class="swiper-slide" data-load-image="img/roadmap_p1q4.svg"></div>
                <div class="swiper-slide" data-load-image="img/roadmap_p2q1.svg"></div>
                <div class="swiper-slide" data-load-image="img/roadmap_p2q2.svg"></div>
                <div class="swiper-slide" data-load-image="img/roadmap_p2q3.svg"></div>
                <div class="swiper-slide" data-load-image="img/roadmap_p2q4.svg"></div>
            </div>
        </div>
    </div>
    <div class="container container--type-1">
        <div class="roadmap__legend">
            <div class="roadmap__definition">
                <span class="roadmap__definition-color roadmap__definition-color--purple"></span>
                <span>AI</span>
            </div>
            <div class="roadmap__definition">
                <span class="roadmap__definition-color roadmap__definition-color--red"></span>
                <span>IoT</span>
            </div>
            <div class="roadmap__definition">
                <span class="roadmap__definition-color roadmap__definition-color--black"></span>
                <span>HMS</span>
            </div>
            <div class="roadmap__definition">
                <span class="roadmap__definition-color roadmap__definition-color--gray"></span>
                <span>Analytics</span>
            </div>
        </div>
        <div class="roadmap__link">
            <a class="button button--wide button--filled-purple" href="/media/ModiHost_Roadmap-v01.pdf" target="_blank">download detailed roadmap</a>
        </div>
    </div>
</div>
