<div class="discover__wrapper">
    <div class="discover__container container container--type-1">
        <img class="discover__illustration" src="img/discover-illustraition.png" alt="">
        <div class="discover__info">
            <p>Discover Modihost Hotel Management Software to see how AI improves daily operations and bring hotel management to a new level.</p>
            <a class="link link--larger" href="#">Join MVP</a>
        </div>
    </div>
</div>
