<div class="system__wrapper" id="private-round">
    <div class="system-anim-bg__wrapper">
        <div class="system-anim-bg__fill"></div>
        <img class="system-anim-bg__edge-1" src="img/edge-figure-gray.svg" alt="">
        <img class="system-anim-bg__edge-2" src="img/edge-figure-white.svg" alt="">
        <img class="system-anim-bg__edge-3" src="img/edge-figure-gray.svg" alt="">
        <img class="system-anim-bg__edge-4" src="img/edge-figure-white.svg" alt="">
        <img class="system-anim-bg__edge-6" src="img/edge-figure-gray.svg" alt="">
        <img class="system-anim-bg__edge-7" src="img/edge-figure-gray.svg" alt="">
        <img class="system-anim-bg__edge-8" src="img/edge-figure-gray.svg" alt="">
    </div>
    <div class="system__container container container--type-1">
        <div class="system__title title-section">
            <h3 class="title-section__uppertitle"><span>HOW DOES MODIHOST’S POOL SYSTEM WORK</span></h3>
            <h2 class="title-section__title title-section__title--larger">Modihost Unique Pool Lending System</h2>
        </div>
        <div class="system__inner-container">
            <div class="system__description">
                <h4>ModiHost’s unique lending system allows individuals to group together into a pool and work towards earning rewards based on the pool’s criteria, thus creating a consistent flow of AIM tokens throughout the system. The system is known as a “Pool Lending System”, which combines the good traits of PoW and PoS to create a unique pool mechanism.</h4>
                <img src="/img/Chart.svg"/>
                <a class="button button--red" target="_blank" href="https://explorer.modihost.ai/pool/explore">Modihost Pool Explorer</a>
            </div>
        </div>
    </div>
    <div class="system-bg__wrapper">
        <div class="system-bg__figure-1">
            <img class="system__parallax" data-depth="0.1" src="img/bg-figure-18.svg" alt="">
        </div>
{#        <div class="system-bg__figure-2">#}
{#            <img class="system__parallax" data-depth="0.1" src="img/bg-figure-19.svg" alt="">#}
{#        </div>#}
         <div class="system-bg__figure-3">
            <img class="system__parallax" data-depth="0.1" src="img/bg-figure-20.svg" alt="">
        </div>
        <div class="system-bg__figure-4">
            <img class="system__parallax" data-depth="0.1" src="img/bg-figure-21.svg" alt="">
        </div>
    </div>
    <button class="tokensale__scroll-btn" data-scroll-to="#solutions2"><img src="img/how-it-works-scroll-icon.svg" alt=""></button>
</div>
