<div class="partners__wrapper" id="partners">
    <button class="partners__scroll-btn" data-scroll-to=".partners__wrapper"><img src="img/whitepaper-down.svg"></button>
    <div class="partners__container container container--type-1">
        <h2 class="partners__title title-section__title title-section__title--smaller">Our Partners</h2>
        <div class="partners__grid">
            <div class="partners__item">
                <img src="img/csjbot_logo.png" alt="">
            </div>
            <div class="partners__item">
                <img src="img/ATTORNEY-logo.png" alt="">
            </div>
            <div class="partners__item">
                <img src="img/CUBIX-logo.png" alt="">
            </div>
            <div class="partners__item">
                <img src="img/x10-logo-sq-color.png" alt="">
            </div>
            <div class="partners__item">
                <img src="img/Crypto-Gang-logo.png" alt="">
            </div>
            <div class="partners__item">
                <img src="img/ComRes-logo.png" alt="">
            </div>
            {# <div class="partners__item">
                <img src="img/partner-logo.png" alt="">
            </div> #}
            {# <div class="partners__item">
                <img src="img/partner-logo.png" alt="">
            </div> #}
            {# <div class="partners__item">
                <img src="img/partner-logo.png" alt="">
            </div> #}
        </div>
    </div>
    <div class="partners-bg__wrapper">
        <div class="partners-bg__figure-1">
            <img class="partners__parallax" data-depth="0.1" src="img/bg-figure-31.svg" alt="">
        </div>
    </div>
</div>
