<div class="media__wrapper" id="media">
    <div class="media__container container container--type-1">
        <div class="media__title title-section title-section--left">
            <h3 class="title-section__uppertitle"><span>Media</span></h3>
            <h2 class="title-section__title title-section__title--larger">As featured in</h2>
        </div>
        <div class="media__logos swiper-container">
            <div class="swiper-wrapper">
                <a class="media__item swiper-slide" href="https://www.forbes.com/sites/gabrielleigh/2020/07/09/how-artificial-intelligence-is-going-to-change-hotel-stays/" target="_blank">
                    <img src="img/forbes-logo.png" alt="">
                </a>
                <a class="media__item swiper-slide" href="https://hackernoon.com/booking-with-ai-and-blockchain-tech-hotels-of-the-future-65rj3zy2" target="_blank">
                    <img src="img/hackernoon-logo.png" alt="">
                </a>
                <a class="media__item swiper-slide" href="https://cryptodaily.co.uk/2019/11/whats-your-alternative-if-mining-and-staking-no-longer-pays-off" target="_blank">
                    <img src="img/crypto-daily-logo.png" alt="">
                </a>
                <a class="media__item swiper-slide" href="https://hackernoon.com/dont-bet-on-a-single-technology-blockchain-and-ai-could-bring-new-standing-out-projects-c91m326k" target="_blank">
                    <img src="img/hackernoon-logo.png" alt="">
                </a>
                <a class="media__item swiper-slide" href="https://www.tecnohotelnews.com/2020/02/inteligencia-artificial-blockchain-hoteles-futuro/" target="_blank">
                    <img src="img/tehnohotel-logo.png" alt="">
                </a>
                <a class="media__item swiper-slide" href="https://www.hospitalitynet.org/opinion/4099087.html" target="_blank">
                    <img src="img/hospitalitynet-logo.png" alt="">
                </a>
                <a class="media__item swiper-slide" href="https://coincodex.com/article/8590/using-blockchain-to-transform-the-hotel-management-system-through-transparency-and-fairness/" target="_blank">
                    <img src="img/coincodex-logo.png" alt="">
                </a>
                <a class="media__item swiper-slide" href="https://hospitalitytech.com/modihost-launches-five-countries-across-europe-and-asia" target="_blank">
                    <img src="img/hospitalitytech-logo.png" alt="">
                </a>
                <a class="media__item swiper-slide" href="https://www.hotelnewsresource.com/article111091.html" target="_blank">
                    <img src="img/hotelnewsresource-logo.png" alt="">
                </a>
                {# <div class="media__item swiper-slide">
                    <img src="img/media-logo-4.png" alt="">
                </div>
                <div class="media__item swiper-slide">
                    <img src="img/media-logo-5.png" alt="">
                </div>
                <div class="media__item swiper-slide">
                    <img src="img/media-logo-6.png" alt="">
                </div>
                <div class="media__item swiper-slide">
                    <img src="img/media-logo-7.png" alt="">
                </div>
                <div class="media__item swiper-slide">
                    <img src="img/media-logo-8.png" alt="">
                </div>
                <div class="media__item swiper-slide">
                    <img src="img/media-logo-9.png" alt="">
                </div>
                <div class="media__item swiper-slide">
                    <img src="img/media-logo-10.png" alt="">
                </div> #}
            </div>
            <div class="swiper-navigation">
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white main-moving-btn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="media-bg__wrapper">
        <div class="media-bg__figure-1">
            <img class="media__parallax" data-depth="0.1" src="img/bg-figure-32.svg" alt="">
        </div>
        <div class="media-bg__figure-2">
            <img class="media__parallax" data-depth="0.1" src="img/bg-figure-33.svg" alt="">
        </div>
        <div class="media-bg__figure-3">
            <img class="media__parallax" data-depth="0.1" src="img/bg-figure-34.svg" alt="">
        </div>
    </div>
</div>
