<footer class="footer">
    <div class="container container--default">
        <div class="upper-footer__container">
            <div class="upper-footer__social">
                <h3 class="footer-social__title">Follow Us</h3>
                <div class="footer-social__list">
                    <a href="https://t.me/ModiHost" target="_blank"><img src="img/telegram.svg" alt=""></a>
                    <a href="https://twitter.com/ModiHost" target="_blank"><img src="img/twitter.svg" alt=""></a>
                    <a href="https://www.linkedin.com/company/modihost/about/" target="_blank"><img src="img/linkedin.svg" alt=""></a>
                    <a href="https://www.facebook.com/ModiHost-110181610374825/" target="_blank"><img src="img/facebook.svg" alt=""></a>
                    <a href="https://www.reddit.com/user/ModiHost" target="_blank"><img src="img/reddit.svg" alt=""></a>
                    <a href="https://medium.com/@ModiHost" target="_blank"><img src="img/medium.svg" alt=""></a>
                    <a href="https://bitcointalk.org/index.php?topic=5191078" target="_blank"><img src="img/bitcoin-forum.svg" alt=""></a>
                </div>
            </div>
            <div class="upper-footer__links">
                <div class="footer-links__column">
                    <h5 class="footer-links__title">About Project</h5>
                    <ul class="footer-links__list">
                        <li><a href="/#overview" data-scroll-to="#overview">Overview</a></li>
                        <li><a href="/#solutions" data-scroll-to="#solutions">Solutions</a></li>
                        <li><a href="/#how-it-works" data-scroll-to="#how-it-works">How it works</a></li>
                        <li><a href="/#whitepaper" data-scroll-to="#whitepaper">Whitepaper</a></li>
                    </ul>
                </div>
                <div class="footer-links__column">
                    <h5 class="footer-links__title">Tokensale</h5>
                    <ul class="footer-links__list">
                        <li><a href="/#private-round" data-scroll-to="#private-round">Private Round</a></li>
{#                        <li><a href="/#tokenomics" data-scroll-to="#tokenomics">Tokenomics</a></li>#}
                        <li><a href="/#github" data-scroll-to="#github">GitHub Repository</a></li>
                        <li><a href="/#roadmap" data-scroll-to="#roadmap">Roadmap</a></li>
                        <li><a href="/#penetration" data-scroll-to="#penetration">Market Penetration</a></li>
                    </ul>
                </div>
                <div class="footer-links__column">
                    <h5 class="footer-links__title">Meet With Us</h5>
                    <ul class="footer-links__list">
                        <li><a href="/#advisors" data-scroll-to="#advisors">Advisors</a></li>
                        <li><a href="/#team" data-scroll-to="#team">Our Team</a></li>
                        <li><a href="/#partners" data-scroll-to="#partners">Partners</a></li>
                        <li><a href="/#media" data-scroll-to="#media">Media</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="lower-footer__container">
            <span class="lower-footer__copyright">&copy; Copyright 2019 Modihost</span>
            <div class="lower-footer__extra-info">
                <a class="lower-footer__link" href="disclaimer.html">Disclaimer</a>
                <a class="lower-footer__link" href="privacy-policy.html">Privacy Policy</a>
                <a class="lower-footer__designed" href="https://cryptogang.agency/" target="_blank"><img src="img/copyright.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>
