---
title: ModiHost
description: ModiHost is an innovative SaaS hotel management system facilitating easy access to AI technologies for hotels of any size or complexity. Using blockchain for transparency and scalability, the system harnesses the power of AI to deliver the best possible customer experience – for hotels and their guests. ModiHost predicts customers’ needs beyond their expectations.
pageName: articlePage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    {% include "sections/text/_section-privileges-intro.twig" %}
    {% include "sections/text/_section-privileges-text.twig" %}
  </main>
{% endblock %}
