//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1199px;
$xxl: 1399px;

//fonts
$font-1: Aspira, Helvetica, Tahoma, Arial, sans-serif;
$font-2: Gotham, Helvetica, Tahoma, Arial, sans-serif;
$font-3: BebasNeuePro, Helvetica, Tahoma, Arial, sans-serif;

//colors
$color-1: #000; // main font
$color-2: #fff; // main background
$color-3: #6e6eff; // main violet
$color-4: #181e30; // main dark
$color-5: #ff583c; // accident orange
$color-6: #eaeff5; // background gray

// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;
