<div class="article__wrapper">
    <div class="article__container container container--default">
        <button class="article__scroll" data-scroll-to=".article__content"><img src="img/red-scroll-button.svg"></button>
        <div class="article__anchors">
            <ul>
                <li><a href="" data-scroll-to="#title-1" class="is-active">Oveview</a></li>
                <li><a href="" data-scroll-to="#title-2">How to lend tokens to the public Pool</a></li>
                <li><a href="" data-scroll-to="#title-3">How to withdraw tokens from the Pool</a></li>
                <li><a href="" data-scroll-to="#title-4">How to withdraw your current reward from the Pool</a></li>
            </ul>
            <img class="article-anchors__decoration" src="img/bg-figure-36.svg" alt="">
        </div>
        <div class="article__content">
            <h2 id="title-1">An essential role of token holders at the ModiHost ecosystem</h2>
            <p>Hotels need tokens to access services from ModiHost to facilitate guests’ needs or hotel operations using the platform’s capabilities and Artificial Intelligence.</p>
            <p>Token Holders are the only providers of liquidity for the ecosystem. Pools are filled with tokens by Token Holders, and there is no other way to fulfil the ecosystem’s demand.</p>
            <p>Pool tokens lent to hotel operations are in constant circulation, earning interest for the token holders. Every holder may join a pool to lend tokens to hotels.</p>
            <img src="img/privileges-img-1.png" alt="">
            <p>Using a pool system shows that the ecosystem needs token holders to put their tokens into the pools for the platform to function correctly. It creates an opportunity to earn income by lending the tokens via pools to HMS clients.</p>
            <h2 id="title-2">How to lend tokens to the public Pool
                <img src="img/bg-figure-22.svg" alt="">
            </h2>
            <p>Before you proceed with further steps, we assume you already obtain AIM tokens on your Ethereum wallet (learn how to get AIM tokens).</p>
            <ol>
                <li>Visit <a href="#">ModiHost Pool Explorer</a> and select Pool, which meets your requirements from the Pools list.</li>
                <li>Click on the selected pool address to visit Pool’s detailed page.</li>
                <li>Click «Lend tokens» button.</li>
                <li>Copy Pool address and send AIM tokens from your Ethereum wallet to the Pool address copied.
                    <h5><mark>Important</mark></h5>
                    <p><mark>Send tokens only from the address fully controlled by you. Never send tokens from the exchange or any third-party wallet. Otherwise, you may lose your tokes. Tokens can be returned only to the same address which is used to send tokens to the Pool.</mark></p>
                    <p><mark>Do not send tokens to the private Pool if you are not the owner of this Pool. All tokens sent to the private Pool from the address different from the Pool Owner address will be rejected.</mark></p>
                </li>
                <li>Once transaction confirmed, your tokens will be deposited to the Pool address and will be included in the Pool operations.</li>
            </ol>
            <p>You can track and manage your lending by visiting Pool Explorer Dashboard at <a href="https://explorer.modihost.ai/dashboard">https://explorer.modihost.ai/dashboard</a></p>
            <p><a href="#">Metamask</a> extension logged in with your Ethereum address used to send tokens to the Pool required to access the Dashboard.</p>
            <h2 id="title-3">How to withdraw tokens from the Pool
                <img src="img/bg-figure-35.svg" alt="">
            </h2>
            <p>There is no option to withdraw tokens amount partially. Only full amount of tokens you lend to the Pool can be withdrawn.</p>
            <blockquote>
                <h4>Requirements</h4>
                <p>Metamask extension installed and logged in with your original Ethereum address used to send tokens to the Pool.</p>
            </blockquote>
            <ol>
                <li>Visit ModiHost Pool Explorer Dashboard at <a href="https://explorer.modihost.ai/dashboard">https://explorer.modihost.ai/dashboard</a></li>
                <li>On the list of Pools where you lend tokens, click «Leave the pool» for the Pool from which you would like to withdraw your tokens balance.</li>
                <li>Pool smart contract will return your tokens immediately if there are enough tokens currently out of operations. Otherwise, tokens will be deposited when they return from active lending operation (few minutes till 1 hour).</li>
            </ol>
            <p><i>*Some small amount of Ether is required to perform this action as it is runs a Pool smart contract.</i></p>
            <p><a href="#">Learn how to create own pool</a></p>
            <h2 id="title-4">How to withdraw your current reward from the Pool</h2>
            <p>There is no option to withdraw reward amount partially. Only full amount of your current reward can be withdrawn.</p>
            <blockquote>
                <h4>Requirements</h4>
                <p>Metamask extension installed and logged in with your original Ethereum address used to send tokens to the Pool.</p>
            </blockquote>
            <ol>
                <li>Visit ModiHost Pool Explorer Dashboard at <a href="https://explorer.modihost.ai/dashboard">https://explorer.modihost.ai/dashboard</a></li>
                <li>On the list of Pools where you lend tokens, select a Pool from which you would like to withdraw your current reward balance.</li>
                <li>Click «Withdraw reward» button.</li>
                <li>Pool smart contract will send your reward tokens to the Ethereum address used to send tokens to the Pool (it also the same address that is currently logged in in the Metamask extension).</li>
            </ol>
            <p><i>*Some small amount of Ether is required to perform this action as it is runs a Pool smart contract.</i></p>
        </div>
        <button class="article__scroll-up" data-scroll-to="main"><img src="img/purple-scroll-up-button.svg"></button>
    </div>
    <div class="article-bg__wrapper">
        <div class="article-bg__figure-1">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-18.svg" alt="">
        </div>
        <div class="article-bg__figure-2">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-39.svg" alt="">
        </div>
        <div class="article-bg__figure-3">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-23.svg" alt="">
        </div>
        <div class="article-bg__figure-4">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-33.svg" alt="">
        </div>
        <div class="article-bg__figure-5">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-37.svg" alt="">
        </div>
        <div class="article-bg__figure-6">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-23.svg" alt="">
        </div>
    </div>
</div>
