<div class="inner-intro__wrapper">
    <img class="inner-intro__bg" src="img/inner-intro-bg.jpg" alt="">
    <div class="inner-intro__container container container--type-2">
        <h1 class="inner-intro__title title-section__title title-section__title--smaller">Become a pool owner</h1>
        <p>Earn interest by providing ModiHost AIM tokens to hotels for daily operations. Hotels borrow tokens from pools each time a guest is billed and return tokens with a fee set by a pool owner.</p>
        <p>A pool owner can invite tokenholders to join the pool and share earned interest. Anyone can start his pool. Become a pool owner to earn interest while supporting ModiHost ecosystem.</p>
        <button class="button button--white">create a pool</button>
    </div>
</div>
