<div class="inner-intro__wrapper">
    <img class="inner-intro__bg" src="img/inner-intro-smaller-bg.jpg" alt="">
    <div class="inner-intro__container container container--type-2">
        <h1 class="inner-intro__title title-section__title title-section__title--smaller">Privacy Policy</h1>
        <p class="inner-intro__subtitle">Modinori PTE ltd</p>
        <p>Welcome to <a href="https://www.modihost.io">www.modihost.io</a>  Modinori Website. Please review the following Privacy Policy that governs the use of your personal information we collect and use in accordance with this policy.</p>
    </div>
</div>
