<div class="inner-intro__wrapper">
    <img class="inner-intro__bg" src="img/inner-intro-smaller-bg.jpg" alt="">
    <div class="inner-intro__container container container--type-2">
        <h1 class="inner-intro__title title-section__title title-section__title--smaller">Token holder privileges</h1>
        <p>Becoming a token holder gives you certain privileges.</p>
        <p>Unlike other blockchain projects, tokenholders in Modihost play an essential role in everyday HMS operations.</p>
    </div>
</div>
