<div class="article__wrapper">
    <div class="article__container container container--default">
        <button class="article__scroll" data-scroll-to=".article__content"><img src="img/red-scroll-button.svg"></button>
        <div class="article__content article__content--simple">
            <p><i>Last updated: 2019-12-15</i></p>
            <h2>I.	General</h2>
            <p>Modinori PTE LTD, a validly established corporation under the laws and regulations of Singapore (together with its parent company, subsidiaries and affiliates, “Modinori” or “Us“, "We", "Our") operates www.modihost.io website and takes your privacy seriously. This page (the “Privacy Policy“) informs you of our policies regarding the collection, use and disclosure of personal information we collect from users. Please note that when you use or access any of Modinori’s websites (collectively considered as the “Site”), the user (“You” or “Your”) expressly acknowledge and consent to follow and be bound by our collection, storage, use and disclosure of your personal data as described in this Privacy Policy.</p>
            <p>We use your personal information only for providing and improving the Site. Please note that Modinori is committed to conform with the Personal Data Protection Act 2012 of Singapore. In case you have comments, critics, suggestions or complaints, do not hesitate to contact us in the manner described in this Privacy Policy.</p>
            <h2>II.	Information collection, use and disclosure</h2>
            <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name, email, address, telephone, billing information, usernames, passwords and other form of personal data relevant to the use of the Website and its Services ("Personal Information"). We may collect your personal information every time you share it with us through the Site (e.g. when you create an account) or when you use any Services available on our Site (the “Services“). Personal information may also be received from other sources (e.g. publicly available information) or from third parties (such as Google Analytics). Personal information that you submit to us shall be truthful and precise. In all cases, we may request for additional substantiation in order to verify any information you have provided to us.</p>
            <p>The collected personal information will be used and/or shared with third parties (i.e. related companies and service providers) in, without being specifically limited to, one of the following objectives:</p>
            <ul>
                <li>creating or conserving your account or profile;</li>
                <li>conducting analytics (i.e. of your location and behavior);</li>
                <li>offering you information we deemed useful;</li>
                <li>sending specific marketing or events to users;</li>
                <li>improving Site features and Services;</li>
                <li>dealing with users related financial transactions;</li>
                <li>developing the general communication with users.</li>
            </ul>
            <p>We may also use your personal data to send you newsletters or promotional materials and other information considered adequate to improve your ModiHost experience.</p>
            <p>We may share your personal information with any person or entity when is deemed to be useful in the development/improvement of our Site and Services and/or when e.g. such disclosure is deemed necessary to comply with the law or in response to a judicial or government demand, or any other legal procedure; furnish relevant documentation in relation with any litigation, arbitration, mediation or other legal proceedings; protect the interests, rights, safety or property of Modinori or others; conduct our operations and properly perform our Terms & Conditions;  offer users the requested Services. When doing so we take reasonable precautions to ensure that your personal information benefit of the highest protection against malicious or unauthorized access, collection, use, disclosure, or similar risks. Furthermore, we make sure other parties do not retain your personal information more longer than what is reasonably needed to accomplish the aforesaid purposes. In the event your personal information is shared with a person or entity out of Singapore, we ensure to the greatest extent that the receiving jurisdiction offers a similarly standard of protection as the one in Singapore.</p>
            <p>You understand and accept that we have at any time the right to disclose your personal information to any legal, regulatory, governmental, law enforcement or other authorities in respect to applicable law. To the maximum extent permissible by law, you hereby consent not to take any action and/or abandon your rights to initiate action against us for the disclosure of your personal information in these circumstances.</p>
            <h2>III.	Computer/Log Data</h2>
            <p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). Indeed, every time you access the Site, we automatically collect your log data (including i.g. information such as your browser type or version, computer's Internet Protocol “IP” address, language, location, communications with other, hardware and software information, the pages of our Site you visit, the time and date of your visit, the time spent on those pages and other statistics,) and the Services you use (e.g., accessed content, view, searches, post or tag).</p>
            <h2>IV.	Cookies and Third party links</h2>
            <p>Like many sites, we and allowed third service providers use “cookies” to retain information when you access the Site in order to improve your access and use of the Site and the Services. Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your computer's hard drive. Most of the web browsers automatically accept cookies, but you may request, at any time, your browser to deny all cookies. By doing so, however, you may be restricted to use certain functionalities of our Site/Services.</p>
            <p>By clicking on the links to third-party websites on our Site, you accept it may result in the collection or sharing of your personal information by such third-parties and that we do not endorse nor are responsible for the content or privacy practices of these other websites or services. This personal information you freely choose to give to or that is collected by these third parties is hence not covered by our Privacy Policy. Our advise is to carefully read such third parties’ privacy declarations. </p>
            <h2>V.	Security</h2>
            <p>The security of your personal information is very important to us, nevertheless please remember that no method of transmission over the Internet, or method of electronic storage, are perfect or impenetrable and then 100% secure. While we strive to use commercially acceptable means to protect your personal information, it is impossible for us to guarantee its absolute security. In the event you have reasonable reasons to believe your privacy has been breached, please contact us immediately.</p>
            <p>You thus accept to keep your password and other confidential information related to the use of the Site and its Services confidentially and you acknowledge that you bear the responsibility to protect it from any illegal or unauthorized access. In the event you do share your password or if you lose the control of any confidential information submitted to us, only you shall be held responsible for any related consequence. In light of the aforementioned if you have any suspicion or reason to believe your password or any personal information has been compromised, please immediately take appropriate actions and contact us as soon as possible.  We reserve the right to disclaim any liability arising from your failure to do so.</p>
            <h2>VI.	Update, changes &amp; withdrawal to this privacy policy</h2>
            <p>You may update your personal information by any authorized means of updating available on our Site. Otherwise, you can always contact us in that regard.</p>
            <p>You can unsubscribe from receiving marketing or commercial information by using the unsubscribe process accessible on our Site or by contacting us.</p>
            <p>We reserve the right to update, change or amend our Privacy Policy at any time by posting the amended terms on the Site. These amendments will become effective upon posting date and you shall check this Privacy Policy periodically. Your continued use of the Site and/or its Services after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
            <p>If the event we make any material change to our Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website or even in the manner and to the extent required by law.</p>
            <p>This Privacy Policy is effective as of 12.15.2019 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>
            <h2>VII.	Contact us</h2>
            <p>If you have any question about this Privacy Policy, please contact us.</p>
        </div>
        <button class="article__scroll-up" data-scroll-to="main"><img src="img/purple-scroll-up-button.svg"></button>
    </div>
    <div class="article-bg__wrapper">
        <div class="article-bg__figure-1">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-18.svg" alt="">
        </div>
        <div class="article-bg__figure-2">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-39.svg" alt="">
        </div>
        <div class="article-bg__figure-3">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-23.svg" alt="">
        </div>
        <div class="article-bg__figure-4">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-33.svg" alt="">
        </div>
        <div class="article-bg__figure-5">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-37.svg" alt="">
        </div>
        <div class="article-bg__figure-6">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-23.svg" alt="">
        </div>
    </div>
</div>
