<div class="article__wrapper">
    <div class="article__container container container--default">
        <button class="article__scroll" data-scroll-to=".article__content"><img src="img/red-scroll-button.svg"></button>
        <div class="article__content article__content--simple">
            <p><i>Last updated on 06 January 2020</i></p>
            <p>By accessing this website and its information, software or document user consents to the following conditions:</p>
            <ol>
                <li>The information retained on <a href="https://www.modihost.io">www.modihost.io</a> website (the "Service") is presented in good faith and for general information purposes only – i.e. information about our company, our products and our services.  In no case this information shall be deemed to constitute a legal proposal.</li>
                <li>We reserve the right to modify this website without prior notice to the customer or user. In addition, Modinori has the right to add, delete, or modify any content on the Service at any time without prior notice. Please also note that Modinori makes no representations, warranties or guarantees of any kind, express or implied, regarding the completeness, accuracy, reliability, satisfactory quality, compatibility or security of information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</li>
                <li>Modinori bears no responsibility for errors or omissions in the contents on the Service. In no event shall Modinori be liable for any special, direct, indirect, consequential, or incidental damages or loss or any damages whatsoever, resulting from or in related with with the use of the Service or the contents of the Service.</li>
                <li>Our website may present links to external websites that are not provided or maintained by or affiliated with Modinori. Modinori cannot guarantee the preciseness, relevance or completeness of any information on these external websites. The same exclusion of liability as the one aforementioned shall apply here. Furthermore we do not guarantee that our website or other party website is free of viruses or other harmful components.</li>
                <li>Visitor or user are not allowed to post or share any unlawful, threatening, defamatory, obscene, or unholy material as well as any material that may constitute or support behavior that could be considered as a criminal offence or that could lead to civil liability or in any way could breach the law. In all cases Modinori will fully cooperate with any law enforcement or judicial authority or court order to reveal the identity of anyone acting in such a wrongful manner (e.g. by sharing such restricted information or materials). Finally we have the right to alter or delete any material from the site at any time without the necessity to inform you.</li>
                <li>The intellectual property rights in relation to the material here are entirely the property of Modinori. This material must not be copied, distributed or used in any other way without Modinori’ written consent, except to the extent of conformity with mandatory rules of law. The content and structure of our website are protected by copyright. All rights are reserved. Any link to our website that is included in another website without our express written authorization shall be deemed as unlawful. Except the case where permission is granted to a user for personal use only, the reproduction or display of any part of our Site in any form whatsoever requires Modinori’s prior approval or written consent. In this regard removal of copyright notices and/or other legally protected signs is formally prohibited.</li>
                <li>The brands and logos used on this webpage are protected as well and it is strictly forbidden to use these brands and logos without our prior written approval. </li>
            </ol>
            {# <p><i>You can find our Privacy Policy <a href="">here.</a></i></p> #}
        </div>
        <button class="article__scroll-up" data-scroll-to="main"><img src="img/purple-scroll-up-button.svg"></button>
    </div>
    <div class="article-bg__wrapper">
        <div class="article-bg__figure-1">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-18.svg" alt="">
        </div>
        <div class="article-bg__figure-2">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-39.svg" alt="">
        </div>
        {# <div class="article-bg__figure-3">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-23.svg" alt="">
        </div> #}
        {# <div class="article-bg__figure-4">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-33.svg" alt="">
        </div> #}
        {# <div class="article-bg__figure-5">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-37.svg" alt="">
        </div> #}
        {# <div class="article-bg__figure-6">
            <img class="article__parallax" data-depth="0.1" src="img/bg-figure-23.svg" alt="">
        </div> #}
    </div>
</div>
