{% macro vertical(transparent) %}
  <div class="vertical-lines {% if transparent %}vertical-lines--transparent{% endif %}">
    <div class="container">
      <div class="vertical-lines__inner">
        <i></i>
        <i></i>
        <i></i>
      </div>
    </div>
  </div>
{% endmacro %}
